{{ 'component-homepage-video.css' | asset_url | stylesheet_tag }}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} biafit-zoom">
  <div class="home__video-wrapper">
    <div class="home__video">
      <video controls width="100%" height="100%">
        <source src="https://cdn.shopify.com/videos/c/o/v/138d11c77d234b68ba0d709192aedda4.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage Video",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
  ]
}
{% endschema %}
