/* Tablet */
@media screen and (min-width: 641px) and (max-width: 989px) {
    /* default: 768px : 710 - 820 */
    :root {
        --zoom-tablet: 1;
        --program-left: -204px;
        --blog-left: -30px;
    }
    /* 640  - 710 */
    @media (max-width: 710px) {
        :root {
            --zoom-tablet: 0.8;
            --program-left: -204px;
            --blog-left: -30px;
        }
    }
    /* 820 - 900 */
    @media (min-width: 820px) {
        :root {
            --zoom-tablet: 1.13;
            --blog-left: -54px;
        }   
    }
    /* 900 - 989 */
    @media (min-width: 900px) {
        :root {
            --zoom-tablet: 1.24;
            --blog-left: -73px;
        }
    }

    #MainContent .biafit-zoom {
        zoom: var(--zoom-tablet);
    }

    .t-break {
        display: inherit;
    }
    .m-break, .d-break {
        display: none;
    }
    .section-header {
        background: transparent;
    };
    #MainContent {
        margin-top: -45px;
    }
    
    .about-app__heading, 
    .collection__title .title, 
    .blog__title, .about-holly__heading, 
    .recipe-library__heading,
    .membership__heading,
    .contact .title,
    .support .title,
    .about-challenge__heading,
    .whats-included__heading,
    .grand-prize__heading {
        font-size: 52px;
        font-weight: 800;
        line-height: 72.8px;
        margin-left: 20px;
    }

    .header {
        width: calc(610 * var(--img-ratio-tablet));
    }

    .header-wrapper,
    .header {
        background: none !important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }

    .header-wrapper {
        top: 15px;
    }

    a.button {
        width: 296px;
        height: 56px;
        padding: 16px 40px;
    }

    .collection__description {
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        text-align: center;
    }

    .collection .card__content {
        position: relative;
        top: -200px;
        padding: 10px;
        height: 200px;
    }

    .collection {
        height: 620px;
    }

    .collection ul > li.large-slide .card-wrapper {
        width: 384px;   
        height: 458px;
        margin-top: 0;
    }

    .collection ul > li .card-wrapper {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 380px;
        margin-top: 38px;
    }

    .collection .card__heading {
        color: #fff;
        background-position: center left;
        background-size: 32px 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        padding-left: 38px;
        padding-top: 7px;
    }

    .collection .caption {
        height: 61px;
    }


}