/* Tablet */
@media screen and (min-width: 641px) and (max-width: 989px) {
    /* default: 768px : 710 - 820 */
    :root {
        --zoom-tablet: 1;
        --program-left: -260px;
        --blog-left: -40px;
    }
    /* 640  - 710 */
    @media (max-width: 710px) {
        :root {
            --zoom-tablet: 0.8;
            --blog-left: -30px;
        }
    }
    /* 820 - 900 */
    @media (min-width: 820px) {
        :root {
            --zoom-tablet: 1.13;
            --blog-left: -54px;
        }   
    }
    /* 900 - 989 */
    @media (min-width: 900px) {
        :root {
            --zoom-tablet: 1.24;
            --blog-left: -73px;
        }
    }

    #MainContent .biafit-zoom {
        zoom: var(--zoom-tablet);
    }

    .t-break {
        display: inherit;
    }
    .m-break, .d-break {
        display: none;
    }
    .section-header {
        background: transparent;
    };
    #MainContent {
        margin-top: -45px;
    }
    
    .about-app__heading, 
    .collection__title .title, 
    .blog__title, .about-holly__heading, 
    .recipe-library__heading,
    .membership__heading,
    .contact .title,
    .support .title,
    .about-challenge__heading,
    .whats-included__heading,
    .grand-prize__heading {
        font-size: 52px;
        font-weight: 800;
        line-height: 72.8px;
        margin-left: 20px;
    }

    .header {
        width: calc(610 * var(--img-ratio-tablet));
    }

    .header-wrapper,
    .header {
        background: none !important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }

    .header-wrapper {
        top: 15px;
    }

    a.button {
        width: 296px;
        height: 56px;
        padding: 16px 40px;
    }

    .collection__description {
        font-size: 24px;
        font-weight: 700;
        line-height: 33.6px;
        text-align: center;
    }

    .collection .card__content {
        position: relative;
        top: -200px;
        height: 100%;
    }

    .collection .slider__wrapper {
        width: 610px;
        height: 519px;
    }

    .collection {
        height: 620px;
    }

    .collection .caption {
        font-family: Lato,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        color: #fff;
        height: 156px;
        margin: 10px !important;
    }

    .collection ul > li.large-slide .card-wrapper {
        width: 384px;   
        height: 458px;
        margin-top: 0;
    }

    .collection ul > li .card-wrapper {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 380px;
        margin-top: 38px;
    }

    .collection .card__heading {
        color: #fff;
        background-position: center left;
        background-size: 32px 32px;
        height: 32px;
        font-size: 20px;
        font-weight: 600;
        line-height: 17px;
        padding-left: 45px;
        padding-top: 7px;
        position: relative;
        top: -60px;
        margin: 0 10px;
    }

    .card__information .card-information {
        margin-bottom: 10px;
        margin-top: -10px;
        position: relative;
        top: -65px;
        height: 90px;
    }

    .collection .card__content > .card__information {
        padding-left: 12px !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 200px;
        background: linear-gradient(180deg,#0000,#000000e6);
        border-radius: 12px;
        position: relative;
        width: 100%;
    }
}