@media screen and (max-width: 989px) {
  #header-common.header {
    margin-top: 10px;
    height: 75px;
  }
  #header-common .header__search {
    display: none;
  }
  /* Shopping Cart */ 

  #MainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
  }

  #MainContent:has(cart-items.is-empty),
  #MainContent:not(h1.main-page-title) {
    height: auto !important;
  }
  
  #main-cart-footer {
    border-top: 1px solid rgba(226, 226, 226, 1);
    width: 100%;
  }

  #main-cart-footer .cart__footer {
    padding-bottom: 15px;
  }

  .cart-item__details >* {
    max-width: none !important;
  }

  .cart-plan-item {
    width: 215px;
    height: 70px;
    padding: 12px 10px;
    border-radius: 12px;
    display: flex;
    margin-top: 15px;
    border: 1px solid var(--Primary, rgba(237, 22, 83, 1));
    background: rgba(254, 243, 246, 1);
  }
  
  .cart-plan-item .plan-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .cart-plan-item .plan-info p {
    margin: 0;
    white-space: nowrap;
  }
  
  .cart-plan-item .plan-title {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    opacity: 80%;
    color: var(--Primary, rgba(237, 22, 83, 1));
    margin: 0;
    margin-bottom: 5px;
  }
  
  .cart-plan-item .plan-discount {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: calc(100% - 260px);
    margin-top: 2px;
  }
  
  .cart-plan-item .plan-price {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
  }
  
  .cart-plan-item .plan-frequency {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: var(--Text-Light-Grey, rgba(130, 130, 130, 1));
  }
  /* TODO: fix tempale id class */
  cart-items.section-template--17715265798335__cart-items-padding {
    padding-bottom: 0px !important;
    padding-top: 10px;
    width: 100%;
  }
  
  cart-items .continue-shopping {
    display: block;
    padding-left: 30px;
    background-position: center left;
    background-repeat: no-repeat;
    width: 200px;
    height: 24px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    box-shadow: none;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .is-empty .cart__warnings .continue-shopping {
    white-space: nowrap;
    padding-left: 40px;
    line-height: 10px;
    width: 300px;
    margin-top: 0px;
    margin-left: 14px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .cart__empty-text, .is-empty .cart__warnings {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    flex-direction: column
  }
  
  .cart__login-title, .cart__login-paragraph {
    display: none;
  }
  
  cart-remove-button a.button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    width: 20px;
    height: 20px;
  }
  
  cart-items .cart-items th {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: var(--Text-Light-Grey, rgba(130, 130, 130, 1));
    text-transform: uppercase;
  }
  
  cart-items .title-wrapper-with-link h1, 
  h1.cart__empty-text {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    color: rgba(237, 22, 83, 0.07);
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px !important;
  }

  .title-wrapper-with-link {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  cart-items .cart-item__price-wrapper .price {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: center;
    color: #000;
    margin: 0 !important;
    padding: 0 !important;
  }

  cart-items .cart-item__details .cart-item__name {
    font-size: 14px;
    position: relative;
    left: -70px;
  }
  
  .cart-item {
    display: flex;
  }
  .cart-item:first-child {
    margin-bottom: 0;
    margin-top: -55px;
  }

  table.cart-items {
    width: 100%;
  }
  table.cart-items td {
    vertical-align: middle;
    text-align: center;
  }
  table.cart-items th {
    text-align: center;
    padding: 10px 0 !important;
  }
  table.cart-items th:first-child,
  table.cart-items td:first-child {
    text-align: left;
    width: 215px;
    margin-left: 15px;
  }

  table.cart-items th:last-child {
    margin-right: 15px;
  }
  
  table.cart-items td:last-child {
    margin-left: -10px;
  }
  
  table.cart-items .svg-wrapper {
    width: 20px;
    height: 20px;
  }

  table td.cart-item__totals {
    margin-top: 0;
    left: -85px;
  }

  table td.cart-item__quantity {
    margin-top: -12px;
  }

  #main-cart-footer .totals h2,  
  #main-cart-footer .totals p {
    font-family: Lato, sans-serif;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
  }
  
  #main-cart-footer .tax-note {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
  }
  
  #main-cart-footer .cart__ctas {
    gap: 0;
    justify-content: left;
  }
  
  #main-cart-footer .cart__blocks {
    width: 375px;
    margin: auto;
  }

  #main-cart-footer .totals {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-left: 20px;
  }
  
  #main-cart-footer .cart__checkout-button {
    width: 343px ;
    height: 52px ;
    border-radius: 12px ;
  }

  /* Pages styles */
  .shopify-policy__body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .shopify-policy__body div > strong {
    display: block;
  }

  .shopify-policy__body div > strong,
  .shopify-policy__body h2,
  .shopify-policy__body h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
  }

  .shopify-policy__body {
    min-width: 340px;
    width: calc(100% - 60px);
    margin: auto;  
  }
}
