.whats-included__services,
.about-challenge__services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 0;
    margin-top: 25px;
}

.about-challenge__text p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
}
.about-app__text p strong,
.about-challenge__text p strong {
    color: var(--Primary, rgba(237, 22, 83, 1));
    font-weight: 500;
}

/* Blog */
.blog {
    background: rgba(250, 250, 250, 1);
}

.blog .card__content {
    display: none;
}
.blog .article-card__image {
    border-radius: 0 !important;
    border: 0;
}

.blog .article-card-wrapper {
    border: 0px !important;  
}

.blog .article-card__image-wrapper {
    box-shadow: 2px 2px 8px #0000000d !important;
    border: 1px solid rgba(226, 226, 226, 1) !important;    
}

.about-holly__heading {
    margin-top: 30px;
}

@media screen and (min-width: 1440px) {
    .blog .article-card-wrapper {
        height: 317px !important;
    }
    .blog .card__inner {
        height: 100% !important;
    }
    .blog .slider-buttons {
        top: -405px !important;
    }
    .blog .article-card__image-wrapper {
        border-radius: 12px !important;
    }
}

@media screen and (max-width: 640px) {
    .blog .article-card__image-wrapper {
        border-radius: 8px !important;    
    }
    .whats-included__caption h3,
    .about-challenge-heading {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: var(--Text-Black, rgba(6, 6, 6, 1));
        text-transform: uppercase;
    }

    .whats-included__services>li {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    }

    .about-challenge__text p {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));  
    }

    .blog {
        margin-top: 80px;
    }
    
    .blog .article-card-wrapper {
        height: 170px !important;
    }
    .blog .card__inner {
        height: 100% !important;
    }
    .blog .slider-buttons {
        top: -405px !important;
    }
    .blog li.blog__post {
        height: fit-content;
    }
    .blog slider-component {
        margin-top: -25px;
    }
    .blog slider-component ul {
        margin-left: -40px;
        height: 190px;
    }
    .blog .slider__wrapper {
        width: 350px;
        height: 250px;
    }
    .blog .slider-buttons {
        top: 200px !important;
        left: -4px !important;
    }
}


