@media screen and (min-width: 1440px) {
  .content ul {
    padding: 0;
  }
  .content-item {
    padding-top: 10px;
    list-style-type: none;
    padding-left: 46px;
    border: 1px solid rgba(255, 232, 238, 1);
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.04);
    height: 105px;
    padding-left: 50px;
    padding-top: 16px;
    gap: 12px;
    border-radius: 16px;
    width: 526px;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  .content-item::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/recipes-item-icon.svg?v=1736323230');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
  }
  .content-item h5 {
    position: relative;
    top: -57px;
  }
  .content-item p {
    position: relative;
    top: -77px;
  }
  .content-item h5 {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }
  .content-item p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .recipe-library__text h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 37, 37, 1);
    margin-left: -35px;
    text-transform: uppercase;
  }
  .recipe-library__text h2 strong {
    font-weight: 800;
  }
  .recipe-library__text-item .content {
    margin-top: 40px;
  }
  .recipe-library_info {
    width: 526px;
    margin-left: calc(50vw - 565px);
  }
  .recipe-library__media {
    position: relative;
    width: 530px;
    top: -50px;
    margin-right: calc(50vw - 620px);
  }
  .recipe-library__grid {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }  
}

