/* Common fonts */
.section-about-challenge .service-item {
  height: 49px;
  padding: 14px 16px;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 0px rgba(242, 51, 105, 0.1);
  width: fit-content;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  text-align: left;
  color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
}

.about-challenge__text p strong, .about-challenge__services .red {
  color: var(--Primary, rgba(237, 22, 83, 1));
}

@media screen and (min-width: 990px) {
  .about-challenge__services {
    margin-top: 40px;
  }
  
  .about-challenge__caption {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44.8px;
    text-align: left;
    text-transform: uppercase;
    color: rgba(65, 65, 66, 1);
    margin-bottom: 10px;
  }
  .about-challenge__content {
    width: 561px;
    margin-top: -100px;
  }
  .about-challenge__media {
    position: relative;
    width: 694px;
    float: right;
    margin-top: -70px;
    margin-left: -80px;
  }
  .section-about-challenge .button-wrapper {
    padding-top: 40px;
  }

  .about-challenge__grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 140px;
  }
  .about-challenge__media-item {
    width: 580px;  
  }
  .about-challenge__text-item {
    width: 590px;
  }
}

@media screen and (max-width: 989px) {
  .section-about-challenge {
    margin-top: 10px;
  }
  .about-challenge__content {
    width: 345px;
    margin: auto;
  }
  .about-challenge__heading {
    line-height: 42px;
  } 

  .about-challenge__media {
    position: relative;
    width: 345px;
    margin: auto;
  }
  
  .about-challenge__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  .about-challenge__caption {
    font-family: Poppins, sans-serif;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 28px !important;
    text-align: left;
    text-transform: uppercase;
    color: #414142;
    margin-bottom: 10px;
  }

  .about-challenge__services .service-item {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.2px;
    text-align: left;
    padding: 12px;
    width: max-content;
    height: 42px;
  }

  .about-challenge__media-item {
    width: 100%;  
  }
  .about-challenge__text-item {
    width: 100%;
  }

  .section-about-challenge .button-wrapper {
    margin-top: 40px;
    padding-top: 0;
    margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 640px) and (max-width: 989px) {
  .section-about-challenge {
    margin-top: 10px;
  }
  .about-challenge__content {
    width: 610px;
    margin: auto;
  }

  .about-challenge__media {
    position: relative;
    width: 610px;
    height: auto;
    margin: auto;
  }
  
  .about-challenge__caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    text-transform: uppercase;
    color: #414142;
    margin-bottom: 10px;
  }

  .about-challenge__text p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .about-challenge__services .service-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 20.2px;
    text-align: left;
    padding: 12px;
    width: max-content;
    height: 50px;
  }

  .section-about-challenge .button-wrapper {
    margin-top: 40px;
    padding-top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .about-challenge__services {
    align-items: center;
    gap: 12px;
  }
}

