.social-links .instagram {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/instagram.png?v=1735338490');
}
.social-links .instagram {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/instagram.png?v=1735338490');
}
.social-links .youtube {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/youtube.png?v=1735338490');
}
.social-links .facebook {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/facebook.png?v=1735338490');
}

@media screen and (min-width: 1440px) {
  .section-about-holly {
    height: 830px;
  }

  .about-holly__text p strong {
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .about-holly_information {
    width: 587px;
    margin-right: 100px;
    margin-top: -29px;
  }

  .social-links {
    width: 540px;
    height: 216px;  
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .social-links a {
    width: 250px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 66px;
  }

  .section-about-holly .about-holly__media {
    width: 850px;
    position: relative;
    top: -184px;
  }
  .about-holly__grid {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-holly__heading {
    left: 5px;
  }
}

@media screen and (max-width: 430px) {
  .section-about-holly {
    margin-top: 90px;
  }
  .section-about-holly .about-holly__media {
    width: 375px;
    position: relative;  
  }

  .about-holly_information {
    width: 343px;
  }

  .social-links {
    width: 340px;
    height: 162px;  
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .social-links a {
    width: 167px;
    height: 80px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 0px;
    background-size: 32px 32px;
    text-align: center;
    text-decoration: none;
    padding-top: 40px;
  }

  .section-about-holly .about-holly__media {
    width: 375;
    position: relative;
  }

  .about-holly__text h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(37, 37, 37, 1);
  }

  .about-holly__text p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }
}