.social-links a:hover {
  background-color: rgba(254, 243, 246, 1);
}

.about-holly_information p > strong {
  color: var(--Primary, rgba(237, 22, 83, 1));
  font-weight: 500;
}

.about-holly__media img.not-mobile {
  display: inherit;
}
.about-holly__media img.only-mobile {
  display: none;
}
.about-holly__services {
  display: none;
}

@media screen and (min-width: 990px) {
  #shopify-section-template--17776157622463__about_holly_K79yHh {
    margin-top: -45px;
    height: calc(1015 * var(--img-ratio));
  }

  .about-holly__text p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }
  .about-holly__text p strong {
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .about-holly__media-item {
    width: 900px;
  }

  .about-holly__text-item {
    width: 740px;
  }

  .about-holly_information {
    position: relative;
    width: 100%;
  }

  .about-holly__content {
    margin-top: -75px;
  }

  .social-links {
    width: 540px;
    height: 216px;  
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .social-links a {
    width: 250px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 66px;
  }

  .section-about-holly .about-holly__media {
    width: 900px;
    position: relative;
    top: -184px;
  }

  @media (max-width: 1300px) {
    .section-about-holly .about-holly__media {
      width: 800px;
    }
  }
  .about-holly__grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 1328px;
    margin: auto;
    gap: 50px;
  }
  .about-holly__heading {
    left: 5px;
  }
  .about-holly__text h2 {
    margin-bottom: -8px;
  }
  .about-holly__text h2 strong {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800 !important;
    line-height: 44.8px;
    color: rgba(37, 37, 37, 1);
    margin-bottom: 10px;
  }

  #about-holly-section {
    padding-top: 20px;
  }
}

@media screen and (max-width: 989px) {

  .section-about-holly {
    height: auto;
  }

  #MainContent:has(#customForm.homepage) .section-about-holly {
    margin-top: 100px;
  }

  #MainContent:has(#customForm.challenge) .section-about-holly {
    margin-top: -110px;
  }

  .section-about-holly .about-holly__media {
    width: 370px;
    position: relative;
    margin: auto; 
  }

  .about-holly_information {
    width: 355px;
    margin: auto;
    margin-top: 20px;
  }

  .social-links {
    width: 100%;
    height: 192px;  
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .social-links a {
    width: 169px;
    height: 80px;
    padding: 55px 10px 35px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 0px;
    background-size: 32px 32px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    white-space: nowrap;
  }

  .social-links .instagram,
  .social-links .youtube,
  .social-links .facebook {
    background-position-y: 10px;
  }

  .section-about-holly .about-holly__media {
    width: 375px;
    position: relative;
  }

  .about-holly__text {
    margin: 0;
    width: 345px;
  }

  .about-holly__text h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(37, 37, 37, 1);
    text-transform: uppercase;
  }

  .about-holly__text p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }
 }

 @media screen and (min-width: 641px) and (max-width: 989px) {
  #MainContent:has(#customForm.challenge) .section-about-holly {
    margin-top: -55px;
  }

  .section-about-holly .about-holly__media {
    width: 675px;
    margin: auto;
  }

  .about-holly_information {
    width: 610px;
    margin: auto;
  }

  .about-holly__text h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-transform: uppercase;
  }

  .about-holly__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .about-holly__text {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
  }

  .social-links {
    width: 610px;
    height: 245px;  
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
  }

  .social-links a {
    width: 286px;
    height: 116px;
    padding: 72px 12px 12px;
    background-position-y: 25px !important;
    background-size: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
  }
 }

 @media (max-width: 640px) {
  .about-holly__media img.not-mobile {
    display: none;
  }
  .about-holly__media img.only-mobile {
    display: inherit;
  }
} 