/* BiaFit */
@media screen and (min-width: 990px) {
  .image-with-text {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width:100%;
    position: relative;
    margin-top: -120px;
    height: 935px;
    padding-top: 210px;
  }

  .image-with-text__content {
    top: -80px;
    width: 85%;
    float: left;
    /* TODO: remove calc padding */
    padding-left: calc(50vw - 665px);
    max-width: 725px;
    padding: 0;
    margin-top: 45px;
    margin-left: 200px;
  }

  .image-with-text__heading {
    font-family: Poppins, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-transform: uppercase;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    width: 715px;
    margin-bottom: 0px;
  }

  .image-with-text__text {
    width:725px;
    margin-bottom: 40px;
    margin-top: 18px;
  }
  .image-with-text__text p {
    width: 580px;
  }

  .counter-block {
    display: flex;
    align-items: stretch;
    margin-top: 70px;
  }

  .counter-block .counter-block-item {
    height: 108px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFADC4;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 20px;
  }

  .counter-block-item .counter-number {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 54.08px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    margin: 0;
  }

  .counter-block-item .counter-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.42px;
    text-align: left;
    text-underline-position: from-font;
    color: var(--Text-Light-Grey, rgba(130, 130, 130, 1));
  }

  .image-with-text__text-item {
    top: 165px;
  }
}

.content-container:after {
  display: none !important;
}
.image-with-text__media {
  display: none;
}
