/* Common fonts */
.section-about-challenge .service-item {
  height: 49px;
  padding: 14px 16px;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 0px rgba(242, 51, 105, 0.1);
  width: fit-content;
}

.about-challenge__text p strong, .about-challenge__services .red {
  color: var(--Primary, rgba(237, 22, 83, 1));
}

@media screen and (min-width: 1440px) {
  .about-challenge__content {
    width: 561px;
    margin-left: calc(50vw - 740px);
    margin-top: -100px;
  }
  .about-challenge__media {
    position: relative;
    width: 694px;
    margin-right: -90px;
    float: right;
    margin-top: -70px;
  }
  .section-about-challenge .button-wrapper {
    padding-top: 40px;
  }

  .about-challenge__grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .about-challenge__media-item {
    width: 700px;  
  }
  .about-challenge__text-item {
    width: 700px;
  }
}

@media screen and (max-width: 430px) {
  .about-challenge__media {
    width: 321px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 90px;
  }

  .about-challenge__services .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .section-about-challenge {
    margin-top: 0px !important;
  }
  .section-about-challenge .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .about-challenge__text-item {
    height: 650px;
  }
  .section-about-challenge a.button {
    width: 360px;
  }
}

