.social-links a:hover {
  background-color: rgba(254, 243, 246, 1);
}

@media screen and (min-width: 1440px) {
  .section-about-holly {
    height: 830px;
  }
  .about-holly__text p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }
  .about-holly__text p strong {
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .about-holly_information {
    width: 587px;
    margin-right: calc(50vw - 780px);
    margin-top: -75px;
  }

  .social-links {
    width: 540px;
    height: 216px;  
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .social-links a {
    width: 250px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 15px;
    text-align: center;
    text-decoration: none;
    padding-top: 66px;
  }

  .section-about-holly .about-holly__media {
    width: 850px;
    position: relative;
    top: -184px;
  }
  .about-holly__grid {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-holly__heading {
    left: 5px;
  }
  .about-holly__text h2 {
    margin-bottom: -8px;
  }
  .about-holly__text h2 strong {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800 !important;
    line-height: 44.8px;
    color: rgba(37, 37, 37, 1);
    margin-bottom: 10px;
  }

  #about-holly-section {
    padding-top: 20px;
  }
}

@media screen and (max-width: 430px) {
  .section-about-holly {
    margin-top: 30px;
    height: 930px;
  }
  .section-about-holly .about-holly__media {
    width: 375px;
    position: relative;  
  }

  .about-holly_information {
    width: 355px;
    margin: auto;
  }

  .social-links {
    width: 100%;
    height: 192px;  
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .social-links a {
    width: 169px;
    height: 80px;
    padding: 55px 10px 35px;
    border-radius: 12px;
    background-color: var(--Light-Grey, rgba(244, 244, 244, 1));
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    background-repeat: no-repeat;
    background-position: right 50% top 0px;
    background-size: 32px 32px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    white-space: nowrap;
  }

  .social-links .instagram,
  .social-links .youtube,
  .social-links .facebook {
    background-position-y: 10px;
  }

  .section-about-holly .about-holly__media {
    width: 375px;
    position: relative;
  }

  .about-holly__text {
    margin: 0;
    width: 345px;
  }

  .about-holly__text h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(37, 37, 37, 1);
  }

  .about-holly__text p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }
  
  .about-holly__heading {
    margin-bottom: 0px;
  }
}