/* BiaFit */
@media screen and (min-width: 990px) {
  #MainContent {
    position: relative;
    top: -102px;
  }

  .d-break {
    display: inherit;
  }
  .m-break {
    display: none;
  }
  
  .image-with-text {
    background-size: 100% 100%;
    background-position: 0px calc(118 * var(--img-ratio));
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    margin-top: -120px;
    height: calc(1050 * var(--img-ratio));
    max-height: 1050px;
    padding-top: 210px;
  }

  .image-with-text__content {
    width: 1328px;
    padding: 0;
    margin: auto;
    position: relative;
    top: 85px;
  }

  .image-with-text__heading {
    font-family: Poppins,sans-serif;
    font-size: calc(60 * var(--img-ratio));
    font-weight: 700;
    line-height: calc(74 * var(--img-ratio));
    text-align: left;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    width: 715px;
    margin-bottom: 0;
  }

  .image-with-text__text {
    width: 725px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .image-with-text__text p {
    width: 580px;
  }

  .counter-block {
    display: flex;
    align-items: stretch;
    margin-top: 70px;
  }

  .counter-block .counter-block-item {
    height: 108px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #FFADC4;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 20px;
  }

  .counter-block-item .counter-number {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 54.08px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    margin: 0;
  }

  .counter-block-item .counter-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.42px;
    text-align: left;
    text-underline-position: from-font;
    color: var(--Text-Light-Grey, rgba(130, 130, 130, 1));
  }

  .image-with-text__text-item {
    top: 165px;
  }
}

.content-container:after {
  display: none !important;
}
.image-with-text__media {
  display: none;
}
