@media screen and (max-width: 640px) {
  .content ul {
    padding: 0;
  }
  .content-item {
    list-style-type: none;
    border: 1px solid rgba(255, 232, 238, 1);
    box-shadow: 2px 2px 12px #0000000a;
    height: 115px;
    padding-left: 45px;
    padding-top: 15px;
    border-radius: 16px;
    width: 362px;
    margin-bottom: 4px
  }
  .content-item::before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
  }
  .content-item h5 {
    position: relative;
    top: -57px;
  }
  .content-item p {
    position: relative;
    top: -77px;
  }
  .content-item h5 {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }
  .content-item p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
  }
  .recipe-library__text h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #252525;
    text-align: center;
    top: -349px;
    position: relative;
    text-transform: uppercase;
  }
  .recipe-library_info {
    width: 343px;
    margin-right: 200px;
  }
  .recipe-library__media {
    position: relative;
    width: 275px;
    margin: auto;
  }
  .recipe-library__grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .section-recipe-library .page-width {
    padding-left: 14px;
    padding-right: 0;
  }
  .recipe-library__media-item {
    top: 24px;
    position: relative;
  }
  .recipe-library__heading {
    margin-top: 60px;
    margin-left: -13px;
  }
}