/* BiaFit */
.about-app__services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-app__services .service-item {
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 2px 9px 57px;
}
.about-app__services .item-icon-1 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-Icon-1.png?v=1735195562');
}
.about-app__services .item-icon-2 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-2.png?v=1735195562');
}
.about-app__services .item-icon-3 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-3.png?v=1735195562');
}
.about-app__services .item-icon-4 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-4.png?v=1735195562');
} 
.about-app__services .item-icon-5 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-5.png?v=1735195562');
}
.about-app-button {
  margin-top: 25px;
}
.section-about-app {
  margin-top: 135px;
}

@media screen and (min-width: 1440px) {
  .about-app__heading {
    top: -78px;
  }
  .about-app__text h1 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-transform: uppercase;
  }
  .section-about-app .main-content {
    width: 606px;
    margin-left: calc(60vw - 1037px);
    margin-top: -125px;
  }
  .about-app__media {
    position: relative;
    width: 660px;
    top: -195px;
    margin-right: -91px;
    float: right;
  }
  .section-about-app .button-wrapper {
    padding-left: 113px;
    padding-top: 20px;
  }

  .about-app__grid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .about-app__media-item {
    width: 700px;  
  }
  .about-app__text-item {
    width: 700px;
  }
}

@media screen and (max-width: 430px) {
    .about-app__media {
      width: 321px;
      margin-left: 88px;
    }

    .about-app__text h1 {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: var(--Text-Black, rgba(6, 6, 6, 1));
    }

    .about-app__services .service-item {
      background-repeat: no-repeat;
      padding: 0 2px 9px 41px;
      background-size: 32px;
      background-position: left center;
      width: auto;
    }

    .about-app__services .button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
    .section-about-app {
      margin-top: 0px !important;
    }
    .section-about-app .button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
    
}

