.about-app .grid {
  margin-bottom: 0;
}

.about-app .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .about-app__grid--reverse {
    flex-direction: row-reverse;
  }
}

.about-app__media {
  min-height: 100%;
  overflow: visible;
}

.about-app__media--small {
  height: 19.4rem;
}

.about-app__media--medium {
  height: 29.6rem;
}

.about-app__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .about-app__media--small {
    height: 31.4rem;
  }

  .about-app__media--medium {
    height: 46rem;
  }

  .about-app__media--large {
    height: 69.5rem;
  }
}

.about-app__media--placeholder {
  position: relative;
  overflow: hidden;
}

.about-app__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.about-app__media--placeholder.about-app__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .about-app__media--placeholder.about-app__media--adapt {
    height: 30rem;
  }
}

.about-app__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.about-app__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  transform: translate(0);
}

.about-app__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}

.about-app .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-app:not(.about-app--overlap) .about-app__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.about-app:not(.about-app--overlap) .about-app__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.about-app .about-app__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.about-app .global-media-settings {
  overflow: hidden !important;
}

.about-app .about-app__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.about-app:not(.about-app--overlap) .about-app__media-item > *,
.about-app:not(.about-app--overlap) .about-app__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .about-app.collapse-corners:not(.about-app--overlap) .about-app__media-item:after,
  .about-app.collapse-corners:not(.about-app--overlap) .grid__item .about-app__media,
  .about-app.collapse-corners:not(.about-app--overlap) .about-app__media img,
  .about-app.collapse-corners:not(.about-app--overlap) .about-app__media .placeholder-svg {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .about-app.collapse-corners:not(.about-app--overlap) .about-app__text-item:after,
  .about-app.collapse-corners:not(.about-app--overlap) .grid__item .about-app__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .about-app.collapse-borders:not(.about-app--overlap) .about-app__content {
    border-top: 0;
  }
}

.about-app__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.about-app__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.about-app--overlap .about-app__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .about-app__grid--reverse .about-app__content {
    margin-left: auto;
  }

  .about-app__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .about-app__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .about-app__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .about-app__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .about-app__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .about-app--overlap .about-app__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .about-app--overlap .about-app__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .about-app--overlap .about-app__grid--reverse .about-app__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .about-app--overlap .about-app__grid--reverse .about-app__text-item {
    justify-content: flex-end;
  }

  .about-app--overlap .about-app__media-item--top {
    align-self: flex-start;
  }

  .about-app--overlap .about-app__media-item--middle {
    align-self: center;
  }

  .about-app--overlap .about-app__media-item--bottom {
    align-self: flex-end;
  }

  .about-app__media-item--small,
  .about-app__media-item--large + .about-app__text-item {
    flex-grow: 0;
  }

  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__media-item:after,
  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__media,
  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__media
    img,
  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__media
    .placeholder-svg,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__text-item:after,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__content,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__text-item:after,
  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__content,
  .about-app.collapse-corners:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__content:after,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__media-item:after,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__media,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__media
    img,
  .about-app.collapse-corners:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__media
    .placeholder-svg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .about-app.collapse-borders:not(.about-app--overlap)
    .grid:not(.about-app__grid--reverse)
    .about-app__content {
    border-left: 0;
  }

  .about-app.collapse-borders:not(.about-app--overlap)
    .about-app__grid--reverse
    .about-app__content {
    border-right: 0;
  }
}

.about-app:not(.collapse-corners, .about-app--overlap) .about-app__media-item {
  z-index: 2;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.about-app.about-app--overlap .backround-transparent,
.about-app:not(.about-app--overlap) .background-transparent {
  background: transparent;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.about-app .gradient {
  transform: perspective(0);
}

.about-app__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 990px) {
  .about-app__content {
    padding: 6rem 7rem 7rem;
  }
}

.about-app__content > * + * {
  margin-top: 2rem;
}

.about-app__content > .about-app__text:empty ~ a {
  margin-top: 2rem;
}

.about-app__content > :first-child:is(.about-app__heading),
.about-app__text--caption + .about-app__heading,
.about-app__text--caption:first-child {
  margin-top: 0;
}

.about-app__content :last-child:is(.about-app__heading),
.about-app__text--caption {
  margin-bottom: 0;
}

.about-app__content .button + .about-app__text {
  margin-top: 2rem;
}

.about-app__content .about-app__text + .button {
  margin-top: 3rem;
}

.about-app__heading {
  margin-bottom: 0;
}

.about-app__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .collapse-padding .about-app__grid .about-app__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .about-app__grid:not(.about-app__grid--reverse)
    .about-app__content:not(.about-app__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding
    .about-app__grid--reverse
    .about-app__content:not(.about-app__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .about-app .grid {
    margin-left: 0;
  }
}

/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

/* BiaFit */
.about-app__services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-app__services .service-item {
  padding-left: 65px;
  background-position: left;
  background-repeat: no-repeat;
}
.about-app__services .item-icon-1 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-Icon-1.png?v=1735195562');
}
.about-app__services .item-icon-2 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-2.png?v=1735195562');
}
.about-app__services .item-icon-3 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-3.png?v=1735195562');
}
.about-app__services .item-icon-4 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-4.png?v=1735195562');
} 
.about-app__services .item-icon-5 {
  background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/item-icon-5.png?v=1735195562');
}
.about-app__text h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-transform: uppercase;
}
.main-content {
  max-width: 590px;
  margin-left: calc(60vw - 830px);
}
.about-app__media {
  padding-bottom: 92.35127478753542%;
  width: 706px;
  float: right;
  top: 158px;
}
.about-app__media-item.grid__item {
  width: 40% !important;
}
.about-app__text-item.grid__item {
  width: 60% !important;
}