@media screen and (max-width: 430px) {
    .biafit-footer.desktop {
        display: none;
    }
    .biafit-footer {
        width: 100%;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 30px;
        padding: 20px 30px;
    }

    .biafit-footer .heading,
    .biafit-footer .social-links,
    .biafit-footer .download-app,
    .biafit-footer .customer-service {
        width: 100%;
        text-align: center;
    }

    .biafit-footer .heading {
        height: 75px;
    }
    .biafit-footer .social-links {
        height: 70px;
    }
    .biafit-footer .download-app {
        height: 91px;
        margin-top: -25px;
    }
    .biafit-footer .customer-service {
        height: 110px;
    }

    .biafit-footer a.link-image {
        display: block;
    }

    .biafit-footer .footer-logo {
        width: 106px;
        height: 25px;
        margin: auto;
    }

    .biafit-footer .heading p {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    }

    .biafit-footer .customer-service .rights-reserved {
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
        margin-top: 40px;
    }

    .biafit-footer .social-links {
        width: 239px;
        height: 32px;
    }

    .biafit-footer .social-links .instagram,
    .biafit-footer .social-links .facebook,
    .biafit-footer .social-links .youtube
    {
        width: 32px;
        height: 32px;
    }

    .biafit-footer h5 {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
        text-align: center;
        margin-bottom: 15px;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    }

    .biafit-footer__app-image {
        display: block;
        width: 150px;
        height: 54px;
        margin-top: 5px;
    }

    .biafit-footer .service-links {
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        width: 260px;
        margin: auto;
    }

    .biafit-footer .service-links a {
        text-decoration: none;
        color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1)) !important;
    }

    .biafit-footer .app-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        width: 315px;
        margin: auto;
        margin-top: -8px;
    }
}


