
@media screen and (max-width: 989px) {
  .section-membership {
    background-repeat: no-repeat;
    background-size: cover;
    height: 622px;
    width: 100%;
  }
  .section-membership .page-width {
    height: 100%;
  }
  .membership__grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 343px;
    height: 415px;
    margin: auto;
  }
  .section-membership__media {
    background: none !important;
  }

  .section-membership .plans-form {
    width: 343px;
    height: 231px;
    margin-top: 45px;
  }

  .section-membership .plan-item {
    width: 343px;
    height: 69px;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    display: flex;
    margin-top: 15px;
  }

  .section-membership .plan-item input[type="radio"] {
    display: none;
  }

  .section-membership .plan-item.unchecked {
    border: 1px solid rgba(226, 226, 226, 1);
    background: #fff;
  }

  .section-membership .plan-item.checked {
    border: 1px solid var(--Primary, rgba(237, 22, 83, 1));
    background: rgba(254, 243, 246, 1);
  }

  .section-membership .plan-item.unchecked::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    background-position-y: center;
  }

  .section-membership .plan-item.checked::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    width: 24px;
  }

  .section-membership .plan-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
  }

  .section-membership .plan-info p {
    margin: 0;
  }

  .section-membership .plan-title {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--Primary, rgba(237, 22, 83, 1));
    margin: 0;
  }

  .section-membership .plan-discount {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
    text-transform: uppercase;
  }

  .section-membership .plan-price {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
  }

  .section-membership .plan-frequency {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    color: var(--Text-Light-Grey, rgba(130, 130, 130, 1));
  }

  .membership__text h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    margin-bottom: 5px;
  }

  .membership__text p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: var(--Text-Dark-Grey, rgba(65, 65, 66, 1));
  }

  .section-membership .plan-info.best-price:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    margin-top: -23px;
    margin-left: -79px;
    z-index: 18;
    width: 80px;
    height: 32px;
    background-size: cover;
  }

  .membership__media-item {
    width: 375px;
    height: 231px;
    margin-left: 0 !important;
  }

  .membership__text-item {
    width: 375px;
    height: 96px;
    margin-left: 0 !important;
  }

  #membership_join-us {
    top: 290px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 343px;
    height: 52px;
    margin: auto;
  }

  .membership__content {
    width: 343px;
    margin-top: 15px;
  }
  .membership__heading {
    margin-bottom: 5px;
  }
}