/* Base */
.countdown__page-wrapper {
    width: 100%;
    height: 675px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 65px;
}
.challenge-countdown {
    width: 855px;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

.countdown-heading h3 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
    color: var(--Primary, rgba(237, 22, 83, 1));
    margin-bottom: 0px;
    margin-top: 85px;
    text-transform: uppercase;
}

.countdown-heading h2 {
    font-family: Poppins, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: #000;
    margin-top: 10px;;
}

.countdown-timer {
    width: 800px;
    height: 374px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countdown-timer .time-block {
    display: block;
    width: 225px;
    height: 216px;
}
.countdown-timer .time-block.minutes {
    width: 250px;
}
.countdown-timer .time-minutes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}
.countdown-timer .minute-unit-animated {
    position: relative;
    width: 100%;
    height: 470px;
    margin-top: -125px;
    top: 0;
}

.countdown-timer .minute-unit-animated .time-number {
    line-height: 156px;
    opacity: 0.5;
}

.countdown-timer .time-number {
    font-family: Lato, sans-serif;
    font-size: 180px;
    font-weight: 700;
    line-height: 216px;
    text-align: center;
    color: var(--Primary, rgba(237, 22, 83, 1));
}

.countdown-timer .time-title {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: var(--Primary, rgba(237, 22, 83, 1));
    margin-top: -20px;
}

.countdown-timer .time-minutes .minute-unit {
    position: relative;
    height: 281px;
    overflow: hidden;
    margin-top: -5px;
}

.countdown__button-wrapper {
    margin-top: 70px;
}

.minute-unit-animated li:first-child, 
.minute-unit-animated li:nth-child(3)
{
    opacity: 0.5;
}

.minute-unit-animated li:nth-child(2) {
    opacity: 1 !important;
}


/* Desktop */
@media screen and (min-width: 990px) {
    
}

/* Mobile */
@media screen and (max-width: 989px) {
    .countdown__page-wrapper {
        width: 100%;
        height: 370px;
        margin-top: 36px;
        background: linear-gradient(180deg, #F9F9F9 0%, #FEF3F6 100%);
    }
    .challenge-countdown {
        width: 375px;
        height: 206px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto auto;
    }
    
    .countdown-heading h3 {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        color: var(--Primary, rgba(237, 22, 83, 1));
        margin-bottom: 0px;
        margin-top: 40px;
        text-transform: uppercase;
    }
    
    .countdown-heading h2 {
        font-family: Poppins, sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.6px;
        text-align: center;
        color: #000;
        margin-top: 10px;;
    }
    
    .countdown-timer {
        width: 335px;
        height: 146px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .countdown-timer .time-block {
        display: block;
        width: 82px;
        height: 90px;
    }
    .countdown-timer .time-block.days {
        width: 120px;
    }
    .countdown-timer .time-block.minutes {
        width: 90px;
    }
    .countdown-timer .time-minutes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .countdown-timer .minute-unit-animated {
        position: relative;
        width: 100%;
        height: 170px;
        margin-top: 17px;
        top: 0px;
    }
    
    .countdown-timer .minute-unit-animated .time-number {
        line-height: 60px;
        opacity: 0.5;
    }
    
    .countdown-timer .time-number {
        font-family: Lato, sans-serif;
        font-family: Lato;
        font-size: 70.36px;
        font-weight: 700;
        line-height: 84.44px;
        text-align: center;
        color: var(--Primary, rgba(237, 22, 83, 1));
    }
    
    .countdown-timer .time-title {
        font-family: Poppins, sans-serif;
        font-family: Poppins;
        font-size: 10.95px;
        font-weight: 600;
        line-height: 13.68px;
        color: var(--Primary, rgba(237, 22, 83, 1));
        margin-top: -10px;
    }

    .countdown-timer .time-minutes .time-title {
        margin-top: -16px;    
    }
    
    .countdown-timer .time-minutes .minute-unit {
        position: relative;
        height: 120px;
        overflow: hidden;
        margin-top: -5px;
    }
    
    .countdown__button-wrapper {
        margin-top: 40px;
    }
}


