/* Header start */
.header {
    border: 1px solid black;
    border-radius: 40px;
    background-color: #fff !important;
    float: none;
    max-width: calc(100% - 15%);
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    height: 60px;
    max-width: 77%;
}

.utility-bar {
    display: none;
}

header-drawer, sticky-header, .header-wrapper {
    background: transparent !important;
    border: none;
}

.page-width {
    padding-left: 0;
    padding-right: 0;
}

.header-wrapper--border-bottom {
    border: none;
}

.header-wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

.header:not(.drawer-menu).page-width {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media screen and (min-width: 990px) {
    .header__inline-menu {
        display: flex;
        width: calc(100vw - 800px);
        align-items: center;
        flex-direction: column;
    }
}

.header__icons {
    display: none;
}

.header-button {
    width: 121px;
    height: 36px;
    padding: 8px 24px 8px 24px;
    background: linear-gradient(96.35deg, #ED1653 -16.05%, #F15822 119.87%);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration: none;
    border-radius: 40px;
    color: #fff;
    margin-left: 35px;
}

.list-menu li a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    text-decoration: none !important;
}
.list-menu li a span,
.list-menu li a:hover {
    text-decoration: none !important;
}
/* Sections headers */
.about-app__heading, 
.collection__title .title, 
.blog__title, .about-holly__heading, 
.recipe-library__heading,
.membership__heading,
.contact .title {
    font-family: Poppins;
    font-size: 90px;
    font-weight: 800;
    line-height: 126px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--Color-Block-Titles, rgba(237, 22, 83, 0.07));
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    width: 140%;
}

.about-app__heading, .recipe-library__heading, .membership__heading {
    top: -78px;
    left: -70px;
}

.collection__title .title, .blog__title {
    top: -78px;
    left: -45px;
}

.blog__title {
    top: 10px;
}

.about-holly__heading {
    top: -58px;
    left: -62px;
}

/* Recipes library */
.recipe-library__media-item {
    max-width: 530px !important;
    padding-top: 88px;
    margin-right: 40px;
}

/* Programs */
.slider:not(.slider--everywhere):not(.slider--desktop)+.slider-buttons {
    display: flex !important;
}

.collection__description {
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.collection__description strong {
    color: var(--Primary, rgba(237, 22, 83, 1));
}

.collection .card__content {
    position: relative;
    top: -155px;
    padding: 10px;
}

.collection ul {
    height: 570px;
}

.collection ul > li:nth-child(2) .card__inner,
.collection ul > li:nth-child(2) .card__media
{
    width: 496px;   
    height: 565px;
}

.collection ul > li:nth-child(2) .card__media {
    border-radius: 16px !important;
    border: 4px solid #F15822;
}

.collection ul > li:nth-child(2) {
    padding: 0 !important;
}

.collection ul > li .card-wrapper {
    display: flex;
    justify-content: center;
}

.collection ul > li {
    padding-top: 60px;
}

.collection ul > li .card__inner {
    width: 392px;
    height: 447px;
}

.collection ul > li .card__media {
    border-radius: 16px !important;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.collection ul > li .card__information {
    width: 390px;
}

.collection ul {
    display: flex;
    align-items: stretch;
}

.collection {
    background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/programs-bg.png?v=1735123508');
    background-repeat: no-repeat;
    background-size: cover;
}

.collection .card__heading {
    color: #fff;
    background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/program-title-icon.png?v=1735123507');
    background-position: left;
    height: 44px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    padding-left: 55px;
    padding-top: 5px;
}

.collection .price {
    display: none;
}

.collection .caption {
    height: 72px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
}

.collection .card__information {
    position: relative;
    top: -80px;
    padding-left: 25px !important;
}

.collection .card__content::after {
    display: none;
}

.slider-counter {
    display: none !important;
}

slider-component ul {
    align-items: center;
    justify-content: center;
}

.slider-button.slider-button--prev,
.slider-button.slider-button--next {
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
}
.slider-button.slider-button--prev:hover,
.slider-button.slider-button--next:hover {
    cursor: pointer;
}

.slider-button.slider-button--prev {
   background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/button-prev.png?v=1735320986');
   margin-right: 6px;
}

.slider-button.slider-button--next {
    background-image: url('https://cdn.shopify.com/s/files/1/0674/7750/4191/files/button-next.png?v=1735320986');
    margin-left: 6px;
 }

/* Testimonials */
.blog .article-card-wrapper {
   height: 409px;
   border-radius: 12px 0px 0px 0px;
   border: 1px solid rgba(226, 226, 226, 1);
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
}

.blog .card__heading {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: var(--Primary, rgba(237, 22, 83, 1));
}

.blog .article-card__excerpt {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    color: rgba(29, 27, 28, 1);
}

.blog .slider-buttons {
    position: relative;
    top: -470px;
    float: right;
    margin-right: 66px;
}

/* Common */
a.button {
    width: 326px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(96.35deg, #ED1653 -16.05%, #F15822 119.87%);
    box-shadow: 0px 4px 12px 0px rgba(241, 20, 57, 0.4);
    color: #fff;
}
a.button::after, a.button::before {
    display: none !important;
}

.image-with-text__text, .about-app__text, .about-holly__text, .about-app__services .service-item {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    color: rgba(139, 136, 137, 1);
}

.about-app__text h2, .about-holly__text h2 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-transform: uppercase;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
}

.media>*:not(.zoom):not(.deferred-media__poster-button), .media model-viewer {
    height: fit-content !important;
}

.page-width {
    max-width: 100%;
}

@media screen and (width > 1440px) {
    .blog__title {
        left: -200px;
    } 
}

footer {
    display: none !important;
}