.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px;
  margin-bottom: 15px;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

/* Custom code */
@media screen and (min-width: 1440px) {
  .newsletter__wrapper {
    background: rgba(249, 249, 249, 1);
  }

  .newsletter__wrapper .inline-richtext {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    color: var(--Text-Black, rgba(6, 6, 6, 1));
    text-transform: uppercase;
    width: 652px;
    padding: 0px 15px;
    margin-bottom: 10px;
  }

  .newsletter .main-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 505px;
    padding-top: 55px;
    overflow: hidden;
  }

  .newsletter .image-block {
    width: 553px;
    height: 319px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
  }

  .newsletter .image-block:last-child {
    left: 35px;
  }

  .newsletter .image-block:first-child {
    left: -35px;
  }

  .newsletter .form-block {
    width: 640px;
    height: 424px;
    margin-left: 25px;
  }

  .newsletter .form_fields_wrapper {
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .newsletter .field,
  .newsletter .field input {
    width: 310px;
    height: 56px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .newsletter .flex-item {
    margin-left: 5px;
    margin-right: 5px;
  }

  .newsletter form *::before, 
  .newsletter form *::after {
    display: none !important;
  }

  .newsletter .field input {
    border-radius: 12px;
    border: 1px solid rgba(226, 226, 226, 1) !important;  
  }

  .newsletter .field__label {
    padding-top: 5px;
  }

  .newsletter .button_block {
    width: 640px;
    padding-top: 20px;
  }

  .newsletter .subscribe-button {
    width: 326px;
    height: 64px;
    padding: 20px 40px;
    border-radius: 16px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    background: linear-gradient(96.35deg, #ed1653 -16.05%, #f15822 119.87%);
    box-shadow: 0 4px 12px #f1143966;
    color: #fff;
    border: 0;
  }

  .newsletter .newsletter-form {
    padding-top: 12px;
  }
}