@media screen and (max-width: 989px) {
  .challenge-main-wrapper {
    height: calc(712 * var(--img-ratio-mobile));
    margin-top: -100px;
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .challenge-main .challenge-title {
    font-family: "Bebas Neue", serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 53.56px;
    text-align: center;
    color: var(--Light-Grey, rgba(244, 244, 244, 1));
    height: 110px;
    margin:0;
    margin-top: 220px;
    width: 100%;
    position: relative;
    top: 75px;
  }

  .challenge-main .love-fit {
    display: block;
    width: 431px;
    height: 94px;
    background-image: url(/cdn/shop/files/challenge-love-fit.png?v=1736534167);
    background-repeat: no-repeat;
    background-size: calc(100% - 80px) 100%;
    background-position: 105px;
    position: relative;
    top: -12px;
    left: -55px;
    z-index: 20;
  }

  .challenge-main .start-date-block {
    width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin-top: 22px;
  }
  .challenge-main .date-title span {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .challenge-main .date-value {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
    background-color: rgba(254, 243, 246, 1);
    width: 256px;
    height: 40px;
    padding: 14px 20px 14px 20px;
    border-radius: 100px;

  }
  .challenge-main .date-value span {
    margin-left: 15px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 13.2px;
    text-align: left;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .challenge-main .button-block {
    margin-top: 75px;
  }
  .challenge-main a.button {
    width: 343px;
    height: 52px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  } 
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 989px) {
  .challenge-main-wrapper {
    height: calc(896 * var(--img-ratio-tablet));
    margin-top: -45px;
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .challenge-main .challenge-title {
    font-size: 74px;
    font-weight: 400;
    line-height: 88.8px;
    text-align: center;
    color: var(--Light-Grey, rgba(244, 244, 244, 1));
    height: 110px;
    margin:0;
    margin-top: 225px;
    width: 100%;
    position: relative;
    top: 75px;
  }

  .challenge-main .love-fit {
    display: block;
    width: 560px;
    height: 150px;
    background-image: url(/cdn/shop/files/challenge-love-fit.png?v=1736534167);
    background-repeat: no-repeat;
    background-size: calc(100% - 80px) 100%;
    background-position: 105px;
    position: relative;
    top: 5px;
    left: -55px;
    z-index: 20;
  }

  .challenge-main .start-date-block {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin-top: 60px;
  }

  .challenge-main .date-title span {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .challenge-main .date-value {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 12px center;
    background-color: #fef3f6;
    width: 285px;
    height: 45px;
    padding: 13px 28px;
    border-radius: 100px;
  }
  .challenge-main .date-value span {
    margin-left: 15px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .challenge-main .button-block {
    margin-top: 120px;
  }
  .challenge-main a.button {
    width: 343px;
    height: 52px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  } 
}