@media screen and (max-width: 989px) {
  .blog {
    height: 550px;
    margin-bottom: 85px;
  }

  .description {
    padding: 20px 15px;
  }

  .description h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: inline;
  }

  .description p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    display: block;
  }

  .blog__title {
    top: 10px;
    left: 5px;
    margin-bottom: 0px;
  }

  .blog slider-component ul {
    position: absolute;
    display: flex;
    height: 380px;
    margin-left: var(--blog-left);
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 2000px;
  }

  .blog .article-card-wrapper {
      width: 273px;
      height: 375px;
  }

  .blog .article-card__image-wrapper {
      border-radius: 8px;
  }

  .blog .card__heading {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: rgba(29, 27, 28, 1);
  }

  .blog .card__inner {
    height: 225px;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(226, 226, 226, 1);
    border-bottom: none;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .card__information {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(226, 226, 226, 1);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .article-card__rating {
    display: block;
    background-position: left center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 88px;
    height: 14px;
  }

  .blog li.blog__post {
    margin-right: 5px;
  }

  .blog .slider-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    width: 375px;
    margin: auto;
    top: 425px;
    left: -5px;
  }
  
  .blog slider-component {
    margin-top: -36px;
  }

  .blog .slider__wrapper {
    overflow: visible;
    width: 360px;
    margin: auto;
    position: relative;
    left: -5px;
    height: 485px;
  }

  .blog .page-width-desktop {
    height: 680px;
  }
}

/* Tablet */

@media screen and (min-width: 640px) and (max-width: 968px) {
  .blog {
    height: 550px;
    margin-bottom: 85px;
  }

  .description {
    padding: 20px 15px;
  }

  .description h2 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: inline;
  }

  .description p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    display: block;
  }

  .blog__title {
    top: 10px;
    left: 5px;
    margin-bottom: 0px;
  }

  .blog slider-component ul {
    position: absolute;
    display: flex;
    height: 380px;
    margin-left: var(--blog-left);
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 2000px;
  }

  .blog .article-card-wrapper {
      width: 273px;
      height: 375px;
  }

  .blog .article-card__image-wrapper {
      border-radius: 8px;
  }

  .blog .card__heading {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: rgba(29, 27, 28, 1);
  }

  .blog .card__inner {
    height: 225px;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(226, 226, 226, 1);
    border-bottom: none;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .card__information {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(226, 226, 226, 1);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .article-card__rating {
    display: block;
    background-position: left center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 88px;
    height: 14px;
  }

  .blog li.blog__post {
    margin-right: 5px;
  }

  .blog .slider-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    width: 375px;
    margin: auto;
    top: 425px;
    left: -5px;
  }
  
  .blog slider-component {
    margin-top: -36px;
  }

  .blog .slider__wrapper {
    overflow: visible;
    width: 360px;
    margin: auto;
    position: relative;
    left: -5px;
    height: 485px;
  }

  .blog .page-width-desktop {
    height: 680px;
  }
}