.blog__posts .card-wrapper {
  width: 100%;
}

/* BiaFit testimonials */
.description .caption-1 {
  color: var(--Text-Black, rgba(6, 6, 6, 1));
}

.description .caption-2 {
  color: var(--Primary, rgba(237, 22, 83, 1));
}

@media screen and (min-width: 990px) {
  #shopify-section-template--17776157622463__featured_blog_ph4qGt {
    margin-top: -80px;
  }
  .description h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44.8px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  .description p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.36px;
    letter-spacing: 0.03em;
    text-align: left;
    display: block;
  }
  .blog__title {
    top: 45px;
    left: 5px;
  }

  .blog .article-card-wrapper {
      height: 450px;
      width: 316px;
  }

  .blog .card__heading {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      color: rgba(29, 27, 28, 1);
  }

  .blog .slider-buttons {
      position: relative;
      top: -500px;
      float: right;
      margin-right: 20px;
  }

  .blog li.blog__post {
    margin-right: 10px;
  }

  .blog .slider__wrapper {
    width: 1328px;
    margin: auto;
    top: -85px;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
  }

  .blog ul.blog__posts {
    display: flex;
    width: 1328px;
    padding-left: 0;
    position: relative;
    justify-content: flex-start;
    gap: 10px;
    top: 35px;
  } 

  .blog .description {
    width: 1328px;
    margin: auto;
  }

  .blog .card__inner {
    height: 225px;
    border-radius: 12px 12px 0 0;
    border: 1px solid rgba(226, 226, 226, 1);
    border-bottom: none;
    overflow: hidden;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .card__information {
    border-radius: 0 0 12px 12px;
    border: 1px solid rgba(226, 226, 226, 1);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .article-card__rating {
    display: block;
    background-position: left center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 135px;
    height: 20px;
  }

  .blog .page-width-desktop {
    margin-top: 25px;
  }

  .blog .caption-text {
    margin-bottom: 0;
  }
  
  .blog .card__media {
    width: 317px;
  }
}

.blog .card__media .media img {
  object-position: top center !important;
}