.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}
/* BiaFit testimonials */
.description .caption-1 {
  color: var(--Text-Black, rgba(6, 6, 6, 1));
}

.description .caption-2 {
  color: var(--Primary, rgba(237, 22, 83, 1));
}

@media screen and (min-width: 1440px) {
  .description h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: left;
    text-underline-position: from-font;
    margin: 0;
  }

  .description p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.36px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 537px;
    display: block;
  }
  .blog__title {
    top: 10px;
    left: 5px;
  }

  .blog .article-card-wrapper {
      height: 409px;
      border-radius: 12px;
      border: 1px solid rgba(226, 226, 226, 1);
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .article-card__image-wrapper {
      border-radius: 12px 12px 0 0 !important;
  }

  .blog .card__heading {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      color: rgba(29, 27, 28, 1);
  }

  .blog .slider-buttons {
      position: relative;
      top: -470px;
      float: right;
      margin-right: 66px;
  }
}

@media screen and (max-width: 430px) {
  .blog {
    height: 525px;
  }

  .description {
    padding: 20px 15px;
  }

  .description h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: inline;
  }

  .description p {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    display: block;
  }

  .blog__title {
    top: 10px;
    left: 5px;
  }

  .blog slider-component ul {
    position: absolute;
    display: flex;
    height: 280px;
    left: -19px;
  }

  .blog .article-card-wrapper {
      width: 167px;
      height: 270px;
      border-radius: 8px;
      border: 1px solid rgba(226, 226, 226, 1);
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .blog .article-card__image-wrapper {
      border-radius: 8px 8px 0 0 !important;
  }

  .blog .card__heading {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: rgba(29, 27, 28, 1);
  }

  .blog .card__information {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 145px;
    overflow: hidden;
  }
  .blog li.blog__post {
    max-width: 168px;
    margin-right: 9px;
  }

  .blog slider-component ul > li:nth-child(2) {
    margin-right: 30px;
  }

  .blog .slider-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 307px;
    position: relative;    
  }

  slider-component {
    margin-top: -36px;
  }
  
}



