.blog__posts .card-wrapper {
  width: 100%;
}

/* BiaFit testimonials */
.description .caption-1 {
  color: var(--Text-Black, rgba(6, 6, 6, 1));
}

.description .caption-2 {
  color: var(--Primary, rgba(237, 22, 83, 1));
}

@media screen and (min-width: 1440px) {
  .description h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44.8px;
    text-align: left;
    text-underline-position: from-font;
    margin: 0;
  }

  .description p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.36px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 520px;
    display: block;
  }
  .blog__title {
    top: 10px;
    left: 5px;
  }

  .blog .article-card-wrapper {
      height: 409px;
      border-radius: 12px;
      border: 1px solid rgba(226, 226, 226, 1);
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.05);
      width: 317px;
  }

  .blog .article-card__image-wrapper {
      border-radius: 12px 12px 0 0 !important;
  }

  .blog .card__heading {
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: var(--Primary, rgba(237, 22, 83, 1));
  }

  .blog .article-card__excerpt {
      font-family: Lato, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      color: rgba(29, 27, 28, 1);
  }

  .blog .slider-buttons {
      position: relative;
      top: -500px;
      float: right;
      margin-right: 20px;
  }

  .blog li.blog__post {
    margin-right: 10px;
  }

  .blog .slider__wrapper {
    width: 1328px;
    margin: auto;
    top: -40px;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
  }

  .blog ul.blog__posts {
    display: flex;
    width: 1328px;
    min-width: 1328px !important;
    padding-left: 0;
    position: relative;
    justify-content: flex-start;
  } 

  .blog .description {
    margin-left: calc(50vw - 665px);
  }

  .blog .card__inner {
    height: 225px;
  }

  .blog .page-width-desktop {
    margin-top: 25px;
  }

  .blog .caption-text {
    margin-bottom: 0;
  }
}

.blog .card__media .media img {
  object-position: top center !important;
}